<!DOCTYPE html>
<html class="full_day" lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= description %>">
    <meta name="author" content="<%= content %>">
    <link rel="manifest" href="/assets/images/favicon/manifest.json">
    <meta name="theme-color" content="#ffffff">

    <!-- we use cdn but you can also include local files located in css directory-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <title>HiTec - <%= title %></title>

    <%- head %>
  </head>
  
  <body>
    <% if(error == "1"){ %>
        <div class="container">
            <div class="alert alert-<%= errorType %> alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong><%= flash %></strong>
            </div>
        </div>
        
    <% } %>
    <%- body %>
    
    <!-- Javascript files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <%- scripts %>
  </body>

</html>